/*$accent: #23B0FF;*/
//$accent: #3b3b6d; // American Blue 
//$accent: #438eac; /* Boston Blue */
$accent: #0073cf; // Wizard Blue
$background: whitesmoke;
$color: mix($accent, #1D1E28, 2%);
//$code-color: $accent;
$code-color: #3b3b6d; // American Blue
$logo-color: $background;
